@import "./settings.scss";

body {
    margin: 0;
    padding: 0;
    width: 80vw;
    margin: auto;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    .box-header{
        grid-column: 1 / span 4;
    }
    .box-aside {
        grid-column: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
    }
    .box-content {
        grid-column: 2 / span 3;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 3px;
        .content-title {
            grid-column: 1 / span 2;
            // border: 1px solid red;
            border-bottom: 2px solid grey;
            font-size: 1.3rem;
            font-weight: bold;
            
        }
        h2 {
            margin: 0;
        }
        .footer {
            grid-column: 1 / span 2;
        }
    }
}
.header {
    color: $headerColor;
    background-color: $headerColorBgc;
    text-align: center;
    width: 80vw;
    height: 70px;
    margin: auto;
    position: fixed;
    align-content: center;
}
.about {
    margin-top: 75px;
    background-color: $sidebarBgc;
    padding: 3px;
    height: calc(100vh - 81px);
    min-width: 210px;
    position: fixed;
    width: 19%;
    .photo img {
        width: 100%;
    }
    .contact h2 {
        margin: 0;
    }
    .contact p, h3 {
        margin: 5px 0;
    }
    .skills p {
        margin: 5px 0;
    }
}
.content {
    margin-top: 75px;
    // border: 1px solid red;
}

.footer {
    background-color: lightgrey;
    text-align: justify;
    padding: 0 10px;
    font-size: 16px;
}